

<form>
    <div class="form-floating mb-3 w-50">
        <input type="text" class="form-control" id="floatingName" placeholder="Your name:">
        <label for="floatingName">Name:</label>
    </div>
    <div class="form-floating mb-3 w-50">
        <input type="text" class="form-control" id="floatingMiddleName" placeholder="Your middle name:">
        <label for="floatingMiddleName">Middle name:</label>
    </div>
    <div class="form-floating mb-3 w-50">
        <input type="text" class="form-control" id="floatingLastName" placeholder="Your last name:">
        <label for="floatingLastName">Last name:</label>
    </div>
    <h2>Cars</h2>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Car number</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr class="carLine" *ngFor = "let car of cars"
               style="padding: 3px;">
            <td>{{car.number}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></td>
          </tr>
          <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Add auto</button>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary"><i class="far fa-save"></i> Save</button>
      <button type="button" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> 
         <a class="linkBack" routerLink="/home" routerLinkActive="active">Back</a>  
      </button>
</form> 
<input [formControl]="nameControl">