form {
    width: 50%;
    padding: 30px;

    .fa-trash-alt {
        color: #fff;
    }

    .fa-plus {
        background-color: transparent;
    }

    .linkBack {
        color: #fff;
        text-decoration: none;
        
    }
}