form {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    input {
        width: 80%;
    }
    .fa-trash-alt {
        color: #fff;
    }

    .fa-plus {
        background-color: transparent;
    }

    
}
#addCar {
    
    display: none;

    div { 
        margin: 10px auto;
        width: 50%;
        background: silver;
        border: double 2px black;
    }

    .btnSave {
        text-align: center;
        border: none;
        background: transparent;

        button {
            width: 30%;
        }
    }
}
.linkBack {
    color: #fff;
    text-decoration: none;
    
}