<div class="blockBtn">
    <a routerLink="/newowner" routerLinkActive="active"  class="btn btn-outline-secondary">Add</a>
    <a routerLink="/changing" routerLinkActive="active" (click)="lookPerson()" class="btn btn-outline-secondary disabled" id="look">Look</a>
    <a routerLink="/changing" routerLinkActive="active" (click)="editPerson()" class="btn btn-outline-secondary disabled" id="edit">Edit</a>
    
</div>

<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Last name</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Number of cars</th>
      </tr>
    </thead>
    <tbody class="dataPerson">
      <tr class="dataLine" #per *ngFor = "let person of people" 
          (click)="choosePerson(per, person);" style="padding: 3px;">
        <td>{{person.lastName}}</td>
        <td>{{person.name}}</td>
        <td>{{person.city}}</td>
        <td>{{person.cars.length}}</td>
        <td><button class="btn btn-outline-secondary" (click)="removeLine(person.id)">Delete</button></td>
      </tr>
      
    </tbody>
  </table>