form {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    input {
        width: 80%;
    }
    .fa-trash-alt {
        color: #fff;
    }

    .fa-plus {
        background-color: transparent;
    }

    .linkBack {
        color: #fff;
        text-decoration: none;
        
    }
}